
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;      
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    position: relative;
}

.box-container, .form-container{
    display: flex;
 
}
.box {
    background-color: #ccc;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
   
}
#VBK{
          position: absolute; 
      top: 20px;          
      left: 20px;        
      background-color: lightgreen;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box-title{
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
}
#Info{
    height: 190px;
    text-align: left;
    font-size: smaller;
}
.box2 {
    background-color: #fff8f8;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(188, 186, 186, 0.1);
    width: 250px;
    
}




.form-container{
    background: white;
      padding: 40px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      width: 250px;

      
}
 input[type="Username"],
    input[type="Password"] {
      display: block;           
      width: 250px;             
      padding: 15px;            
      margin-bottom: 20px;      
      font-size: 16px;          
      box-sizing: border-box;   
      color: rgb(0, 0, 0);
      margin-left: auto;
      margin-right: auto;
    }
   button {
      width: 175px;
      padding: 15px;
      border: none;
      color: rgb(0, 0, 0);
      font-size: 18px;
      cursor: pointer;
      
    }