<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hændelses oversigt</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="changelog.js" defer></script>
</head>
<body>
<h1>Eventlog</h1>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Action</th>
            <th>Type</th>
            <th>Name</th>
            <th>Timestamp</th>
            <th>Field</th>
            <th>Before</th>
            <th>After</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="changelog : ${changelogs}">
            <td th:text="${changelog.username}"></td>
            <td th:text="${changelog.action}"></td>
            <td th:text="${changelog.objectType}"></td>
            <td th:text="${changelog.objectName}"></td>
            <td th:text="${changelog.timestamp}"></td>
            <td th:text="${changelog instanceof T(p3project.classes.Changelog) ? changelog.field : '-'}"></td>
            <td th:text="${changelog instanceof T(p3project.classes.Changelog) ? changelog.before : '-'}"></td>
            <td th:text="${changelog instanceof T(p3project.classes.Changelog) ? changelog.after  : '-'}"></td>
        </tr>
    </tbody>
</table>
</html>